* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    align-items: center;
    background: url("9ahmyxU.jpg");
}

.glitch {
    width: 300px;
    height: 340px;
    background: url('moon-knight.png');
    background-size: cover;
    animation: glitch 3.5s infinite steps(1);
}

@keyframes glitch {
    0%, 100% {
        background: url('moon-knight.png');
        background-size: cover;
    }

    92.5% {
        background: url('glitch-image-1.png');
        background-size: cover;
        opacity: 1;
    }

    95% {
        background: url('glitch-image-2.png');
        background-size: cover;
        opacity: 0;
    }

    97.5% {
        background: url('glitch-image-3.png');
        background-size: cover;
        opacity: 1;
    }
}
.music {
    width: 200px;
    height: 100px;
    position: center;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.music .bar {
    position: center;
    align-items: center;
    width: 10px;
    border-radius: 50px;
    background: white;
    animation: loader 1.5s ease-in-out infinite;
}

@keyframes loader {
    0%, 100% {
        height: 1px;
    }

    50% {
        height: 30px;
    }
}

.music .bar:nth-child(1) {
    background: white;
    animation-delay: 1s;
}

.music .bar:nth-child(2) {
    background: white;
    animation-delay: .8s;
}

.music .bar:nth-child(3) {
    background: white;
    animation-delay: .6s;
}

.music .bar:nth-child(4) {
    background: white;
    animation-delay: .4s;
}

.music .bar:nth-child(5) {
    background: white;
    animation-delay: .2s;
}

.music .bar:nth-child(6) {
    background: white;
    animation-delay: .2s;
}

.music .bar:nth-child(7) {
    background: white;
    animation-delay: .4s;
}

.music .bar:nth-child(8) {
    background: white;
    animation-delay: .6s;
}

.music .bar:nth-child(9) {
    background: white;
    animation-delay: .8s;
}

.music .bar:nth-child(10) {
    background: white;
    animation-delay: 1s;
}

.header {
    background-color: black;
    text-align: center;
    padding: 10px;
}

.content {
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.left_top{
    background-color: black;
    height: 65%;
}

.info{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    height: 30%;
}

.game{
    width: 700px;
    height: 365px;
    border: 1px;
    position: relative;
    background: url("Asian-Samurai-Ninja-Adventure-Game-Landscape-Background-Design-001.jpg");
    animation-duration: 3s;
    animation-name: game;
}

@keyframes game {
    0% {
        background: url('tai1.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    50% {
        background: url('tai2.png');
        background-repeat: no-repeat;
        background-position: center;

    }

    100% {
        background: url('tai3.1.png');
        background-repeat: no-repeat;
        background-position: center;

    }
}