body {

    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    font-family: "Roboto", sans-serif;
}
:root {
    --bg--color: #006778;
    --primary--color: #fff;
    --secondary--color: #a4ebf3;
    --gray--color: #aaaaaa;
}

.login{
    width: 300px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
}
h2{
    color: #868787;
    font-family: sans-serif;
    padding: 25px;
}
.login input{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 20px;
}

.login button{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #45a049;
    color: white;
}
.login button:hover{
    font-size: 15px;
}