body {
    margin-left: 5%;
    text-align: center;
    width: 250px;
    background: url("9ahmyxU.jpg");
    font-family: "Roboto", sans-serif;
}
:root {
    --bg--color: #006778;
    --primary--color: #fff;
    --secondary--color: #a4ebf3;
    --gray--color: #aaaaaa;
}
.wapper {
    margin-left: 10px;
    width: 300px;
    background-color: var(--primary--color);
    padding: 10px 30px 30px 10px;
    border-radius: 10px;
    border: 1px solid grey;

}
.wapper input {
    padding-left: 10px;
    margin-bottom: 10px;
    height: 45px;
    width: 100%;
    border: 1px solid #0093ab;
    outline: none;
    border-radius: 10px;
}

#signup {
    width: 310px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: #45a049;
    color: white;
}
